.det-container {
  display: grid;
  max-width: 900px;
  margin: 30px auto;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.det-imagens {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.det-imagens img {
  width: 100%;
  border-radius: 12px;
  border: 3px solid #eee;
}

.sem-imagem {
  width: 100%;
  height: 280px;
  background: #eee;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.det-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.det-preco {
  font-size: 22px;
  font-weight: 800;
  color: #d64545;
}

.det-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

/* FORMULÁRIO TROCA */
.troca-form {
  margin-top: 20px;
  padding: 16px;
  border: 2px solid #58A9E0;
  border-radius: 12px;
  background: #f0f8ff;
}

.troca-form label {
  display: block;
  margin-bottom: 12px;
}

.troca-buttons {
  display: flex;
  gap: 12px;
}

/* FORMULÁRIO DOAÇÃO */
.doacao-form {
  margin-top: 20px;
  padding: 16px;
  border: 2px solid #54C08A;
  border-radius: 12px;
  background: #f1fff6;
}

.doacao-buttons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.doacao-form label {
  display: block;
  margin-bottom: 12px;
}

.doacao-form input,
.doacao-form textarea,
.troca-form input,
.troca-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-top: 6px;
}
